
/*—————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/

.mainpage_layout {
  /*user-select: none;
  min-width: 600px; */
}

.mainpage_layout a {
  text-decoration: none; 
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*—————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/

.content1 {
    grid-area: content1;
}

.content2 {
    width: 100%;
    grid-area: content2;
    padding-right: 80px;
}

.content3 {
    grid-area: content3;
}

.content4 {
    grid-area: content4;
}

.content5 {
    grid-area: content5;
}

