

/*––––––––––––––––––––––– GRID (UPPSÄTTNING/struktur AV OLIKA CONTENT.S MED AVSSENDE PÅ WINDOW STORLEK –––––––––––––––––––*/

/*
.mainpage_layout {
    border-radius: 10px;
  
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 3fr 2fr 2fr 5fr 1fr;
    grid-template-areas:
        "content1"
        "content2"
        "content3"
        "content4"
        "content5";
}
*/

/*
@media only screen and (min-width: 1000px) {
  .mainpage_layout {
      border-radius: 10px;

      width: 100%;
      height: 100vh;
      display: grid;

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 2fr 2fr 3fr 3fr 3fr 3fr 1fr;
      grid-template-areas:
          "content1 content1 content1 content1"
          "content2 content2 content2 content2"
          "content3 content3 content3 content3"
          "content4 content4 content4 content4"
          "content4 content4 content4 content4"
          "content4 content4 content4 content4"
          "content4 content4 content4 content4"
          "content5 content5 content5 content5";
  }
}
*/

/*—————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/

.mainpage_layout {
  user-select: none;
  min-width: 600px;
}

.mainpage_layout a {
  text-decoration: none; /* Remove underline from <a> elements inside mainpage_layout div */
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*—————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.content4 {
    grid-area: content4;
}

.content5 {
    grid-area: content5;
}


/*–––––––––––––––––––––––––––––––––––––––––––––––––––– CURSOR ––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*
.layout {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=154125), auto;
}
*/

/*  
  .layout {
    
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=154143), auto;
  }
  .layout {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=154143), pointer;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=154125), auto;
  }
*/

/*
  .layout {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=174610), default;
  }
  
  .layout {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=129378), auto;
  }
  */

/*––––––––––––––––––––––––––––––––––––––––––––––––––– ScrollBar ––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*
  The -webkit-scrollbar family of properties consists of seven
different pseudo-elements that, together, comprise a full scrollbar UI
element:
          1. ::-webkit-scrollbar addresses the background of the bar itself. It is usually covered by the other elements
          2. :: -webkit-scrollbar-button addresses the directional buttons on the scrollbar
          3. ::-webkit-scrollbar-track addresses the empty space "below" the progress bar
          4. ::-webkit-scrollbar-track-piece is the top-most layer of thethe progress bar not covered by the draggable scrolling element (thumb)
          5. ::-webkit-scrollbar-thumb addresses the draggable scrolling element that resizes depending on the size of the scrollable element
          6. ::-webkit-scrollbar-corner addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet
          7. ::-webkit-resizer addresses the draggable resizing handle that appears above the scrollbar-corner at the bottom corner of some elements
*/

/*


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #041ade;

  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*/

/*–––––––––––––––––––––––––––––––––––––––––Följande nedan används inte! Har endast sparat maybe later––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*
Body {font-family: "handwriting"; font-size: 1.3em;
}

.Boddy {
    filter:drop-shadow(0px 0px 10px
    rgba(0, 0, 0, 0.5));
}

.boddy {
    height: 10rem;
    width:20rem;
  
    border-width:1px;
  }
  
  
  .boddy {
    height: 10rem;
    width: 55px;
  
    border-width:13px;
  }
  
  .boddy {
    border-radius:9999px
  }
  
  
  
  .boddy {
    background-color:hsla(0, 0%, 100%, .1)
  }
  
  .boddy {
    background-color:hsla(0, 0%, 100%, .3)
  }
  */

/*
body {
    color: #8f8273;
  
    background: rgb(38, 39, 103); 
    background-image: linear-gradient(rgba(51, 209, 51, 0.52) 50%, transparent 10);
    
    box-shadow: 10 5 0 .60em rgb(3, 0, 7);
    outline: 10em solid rgb(7, 8, 40);
                    
    border-radius: .9em;
    padding: 1em;
  }
  */
