.content2_main_inner_body {
  margin-top: 20px;
  margin-left: 10%;

  border-radius: 1rem;
  background-color: var(--bg-color);
  background-image: linear-gradient(43deg, var(--gradient-start) 0%, var(--gradient-mid) 46%, var(--gradient-end) 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
} 

/* ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— */

.first_column {
   display: flex;
   flex-wrap: wrap;
   margin-left: 35px;
}
.second_column {
   margin-right: 50px;
}

.first_card {
  margin-top: 20px;
  margin-right: 20px;
  flex: 1 1 120px;
}

.second_card {
  margin-right: 20px;
  margin-top: 20px;
  flex: 2 1 120px;
}

.third_card {
  margin-right: 0px;
  margin-top: 20px;
  flex: 3 1 120px;
}

/* ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— */

.text_and_animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationLaptopPeople {
    margin-bottom: 25px;
    margin-left: 55px;

    /*animation: backInLeft; // referring directly to the animation's @keyframe declaration 
    animation-duration: 0.8s; // don't forget to set a duration! */
}

.text {
  user-select: none;

  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: 25px;

 animation: fadeInRightBig;  /* referring directly to the animation's @keyframe declaration  */
  animation-duration: 1.4s; /* don't forget to set a duration! */
}


.links_to_subpages {
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration  */
  animation-duration: 1.5s; /* don't forget to set a duration!  */
}

/* ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— */
