
.content4_body {
}

/*
.content4_body {
  height: 80 px;
  width: 100%;
  user-select: none;

  margin-bottom: 50px; 
}

.arrowDownAnimation {
    margin-right: 30px; 
}

.content4_text {
    margin-right: 30px; 

    color: rgb(253, 241, 230);

    text-align: left;
    font-family: "Copperplate", sans-serif;
    font-size: 30px;
    font-weight: 100;
    
    font-stretch: ultra-condensed;
    line-height: 1.5;
}
*/