/*
    font-family: Garamond, serif;
    font-family: "Times New Roman", Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Lucida Console", "Courier New", monospace;
    font-family: 'Roboto', sans-serif;
    font-family: 'Brush Script MT', cursive;
    font-family: font-family: Georgia, serif;
    font-family: "Arial", Sans-serif;
    
    font-family: 'Verdana', sans-serif;

    font-family: 'Gill Sans', sans-serif;

    font-family: "DM Serif Display", serif;
    font-family: 'Arial', serif;
    font-family: 'Didot', serif;
    font-family: 'Optima', sans-serif;
    font-family: 'Trebuchet MS', sans-serif;
    font-family: "Copperplate", Fantasy;
    font-family: 'Mulish', sans-serif;
*/

/*—————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/





/*—————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/