.content2_main_inner_body {
  margin-top: 20px;
  margin-left: 10%;
}

/*
@media only screen and (min-width: 600px) {
  .content2_main_inner_body {
    margin-top: 20px;
    margin-left: 10%;
  }

}
*/

.text_and_animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationLaptopPeople {
    margin-bottom: 25px;
    margin-left: 55px;

    /*animation: backInLeft; // referring directly to the animation's @keyframe declaration 
    animation-duration: 0.8s; // don't forget to set a duration! */
}

.text {
  user-select: none;

  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: 25px;

 animation: fadeInRightBig;  /* referring directly to the animation's @keyframe declaration  */
  animation-duration: 1.4s; /* don't forget to set a duration! */
}


.links_to_subpages {
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration  */
  animation-duration: 1.5s; /* don't forget to set a duration!  */
}

/* ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————— */
