/*––––––––––––––––– Save Important COLORS with custom name so that they could be used whereever needed –––––––––––––––––––––*/

/* following is only an example

/*
  • :root is a pseudo-class that targets the root element of the document (usually the <html> element). 
    By defining variables within :root, they become globally available throughout your CSS.

  • --main-color and --secondary-color are the custom CSS variables you've defined with hexadecimal color values.

  • You can then use var(--variable-name) to reference the custom colors wherever you need them in your CSS.

  WHY :root and not #root?
    
  •   :root: This selector targets the root element of the document, which is typically the <html> element. When you define custom properties using :root, they become global variables accessible throughout your CSS file.
    
  •   .root: This targets elements with the class root. If you were to define a <div class="root">, for instance, you could use .root to style that specific element, but it doesn't inherently define global variables like :root does.
*/

/* definiera färger som hålls i variabler 
#root {
  --main-color: #de0404;
}

.element {
  color: var(--main-color);
}
*/

  /*—————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————*/



/*
  #root {
    background-color: #000000;

    box-shadow: 0 0 500px  rgb(198, 31, 31);
  }
*/


/*
html {
  background-color: #000000;
  color-scheme: dark;
}

body, input, textarea, select, button, dialog {
  background-color: #000000;
}

body, input, textarea, select, button {
  border-color: #696969;
  color: #000000;
}
*/



/*body {
  background-color: #000000;
}

/*
body {
  background: #000000;
  color: #5b5f62;
}
*/


































/*–––––––––––––––––––––––––––––––––––––––––Följande nedan används inte! Har endast sparat maybe later––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/


/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/


/*
.sidebar-left {
  padding: 5em;
}
*/



/*
.App {
  color: #ffffff;

  background: repeating-linear-gradient(45deg, rgb(61, 37, 183), rgb(91, 85, 170) 30px);
  background-image: linear-gradient(rgba(159, 50, 50, 0.2) 50%, transparent 20); 


  box-shadow: 10 5 0 .60em rgb(3, 0, 7);
  outline: 0.1em solid rgb(216, 92, 92);
                  
  border-radius: .9em;
  padding: 0.5em;
}
*/








/*

background: rgb(92, 85, 170);
  background-image: repeating-linear-gradient(30deg,
                    hsla(103, 48%, 44%, 0.1),
                    hsla(0, 1%, 36%, 0.1) 15px,
                    transparent 0, transparent 30px);

  box-shadow: 0 5 0 .60em rgb(240, 227, 227);
  outline: 60em solid rgb(0, 0, 0);
                  
  border-radius: .5em;
  padding: 5em;
*/

/*
.App {
  background: linear-gradient(45deg, #fb3 50%, #58a 0);
  background-size: 30px 30px;

  box-shadow: 0 5 0 .60em rgb(240, 227, 227);
  outline: 60em solid rgb(0, 0, 0);
                  
  border-radius: .5em;
  padding: 5em;
}

*/




/*
.App {
  background: rgb(88, 90, 231); 
  background-image: linear-gradient(rgba(159, 50, 50, 0.2) 50%, transparent 20); 

  background-size: 30px 30px;

  box-shadow: 0 5 0 .60em rgb(240, 227, 227);
  outline: 60em solid rgb(0, 0, 0);

  border-radius: .5em;
  padding: 5em;
}
*/

/*

  background: beige; 
  background-image: linear-gradient(rgba(0,0,0,.2) 50%, transparent 0); 
  background-size: auto 3em;
*/



/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/